{% extends 'utils/base.html'%}

{% block start %}


<div class="container mt-5 mb-5 pb-4 pt-4">
    

    <div class="card col-6 mx-auto shadow" style="padding: 40px; border: none;">
        
        <form method="POST">
            <h3 class="text-center mb-4" style="font-weight: bold;">Log In</h3>
            {% include 'utils/alert.html' %}
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name ="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div>
                <label><small><a href="{% url 'user-login' %}">Log in with password</a></small></label>
            </div>
            <label><small>Create an account <a href="{% url 'user-register' %}">Register</a></small></label>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Send OTP</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}