{%  load static %}
<nav class="navbar navbar-dark bg-danger bg-danger shadow-lg" >
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="50" height="50" style="margin-left: 10px; padding: 3px;">
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success btn-outline-success" style="color:white" type="submit">Search</button>
      </form>
    </div>
  </nav>